<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kanti - Access Denied</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h2>Access Denied - You are not authorized to access this resource.</h2>

        <hr>

        <a th:href="@{/}">Back to Home Page</a>
        <script src="" async defer></script>
    </body>
</html>