<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kanti LEADERS Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h2>Kanti LEADERS Home Page</h2>

        <hr>

        <p>
            See you in Brazil ... for our annual Leadership retreat!
            <br>
            Keep this trip a secret, don't tell the regular employees LOL :-)
        </p>
        
        <hr>

        <a th:href="@{/}">Back to Home Page</a>
        <script src="" async defer></script>
    </body>
</html>